<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%= f.fields_for :company do |company_f| %>
    <div class="field">
      <%= company_f.label :legal_status ,"Legal Status" %>
      <%= company_f.select :legal_status,SelectOption::LEGAL_STATUS  %>
    </div>
    <div class="field">
      <%= company_f.label :name %><br />
      <%= company_f.text_field :company_name,placeholder:"Company name" %>
    </div>
    <div class="field">
      <%= f.label :année_de_création %>
      <%= company_f.select :establishment_date, Range.new((Time.zone.now.year - 100),(Time.zone.now.year)).to_a.reverse %>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
