<%# app/views/tasks/_taskable_attributes.html.erb %>
<div class="row g-4">
  <%# Text Attributes %>
  <% groups[:text_attributes].each do |name, value| %>
    <div class="col-md-6">
      <div class="attribute-group">
        <label><%= name.humanize %></label>
        <p class="text-dark"><%= value.presence || 'N/A' %></p>
      </div>
    </div>
  <% end %>

  <%# Measurements %>
  <% if groups[:measurements].present? %>
    <div class="col-12 mb-4">
      <h5 class="text-primary border-bottom pb-2 mb-3">Measurements</h5>
      <div class="row g-3">
        <% groups[:measurements].each do |name, value| %>
          <div class="col-md-4">
            <div class="attribute-group">
              <label><%= name.humanize %></label>
              <p class="text-dark"><%= value %> m²</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <%# Boolean Services %>
  <% if groups[:boolean_services].present? %>
    <div class="col-12">
      <h5 class="text-primary border-bottom pb-2 mb-3">Services</h5>
      <div class="row g-3">
        <% groups[:boolean_services].each do |name, value| %>
          <div class="col-md-4">
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" disabled <%= 'checked' if value %>>
              <label class="form-check-label text-muted"><%= name.humanize %></label>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>