<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card text-center mb-2 shadow-sm">
        <%= link_to tasks_path(status: "Pending"), class: "text-decoration-none hover-trigger" , data:{turbo_frame: "map_frame"} do %>
          <div class="card-body p-2">
            <h6 class="card-title text-warning mb-1"><%= t("map.pending") %></h6>
            <h3 class="mb-1">
              <%= @user.created_tasks.where(status: "Pending").count %>
            </h3>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center mb-2 shadow-sm">
        <%= link_to tasks_path(status: "In Progress"), class: "text-decoration-none hover-trigger",data:{turbo_frame: "map_frame"} do %>
          <div class="card-body p-2">
            <h6 class="card-title text-primary mb-1"><%= t("map.in_progress") %></h6>
            <h3 class="mb-1"><%= @user.created_tasks.where(status: "In Progress").count %></h3>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center mb-2 shadow-sm">
        <%= link_to tasks_path(status: "Completed"), class: "text-decoration-none hover-trigger" do %>
          <div class="card-body p-2">
            <h6 class="card-title text-success mb-1"><%= t("map.completed") %></h6>
            <h3 class="mb-1"><%= @user.created_tasks.where(status: "Completed").count %></h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<style>
  .hover-trigger {
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .hover-trigger:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
  }
</style>