<!-- 
  This file is used for rendering the map in the user interface. 
  It initializes a Mapbox map and connects it to the Stimulus `map` controller.
  The map:
  1. Displays markers for users (contractors or subcontractors) based on the position of the logged-in user.
  2. Shows a popup for each marker using the data passed from the Rails controller.
  3. Uses the Mapbox API key for map rendering and interactions.
-->
<%= turbo_frame_tag "map_frame" do %>
  <% if user.contractor?  || user.subcontractor? %>
    <div class="map-card">
      <div class="map-header">
        <h5 class="mb-0"><%= t("users.map.projects") %></h5>
      </div>
      <div class="map-content">
        <% if @markers.present? %>
          <div id="map" 
               class="mapboxgl-map"
               style="width: 100%; height: 500px;" 
               data-controller="map"
               data-map-markers-value="<%= @markers.to_json %>"
               data-map-api-key-value="<%= Rails.application.credentials.mapbox[:api_key] %>">
          </div>
        <% else %>
          <div class="empty-state">
            <div>
              <i class="fas fa-map-marker-alt fa-2x mb-3"></i>
              <p class="mb-0"><%= t("task.no_available_tasks") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
