<div class="map-popup">
  <div class="d-flex align-items-center">
    <%= image_tag(user.logo.attached? ? user.logo : "default_logo.png", 
                class: "rounded-circle me-2", 
                size: "40") %>
    <div>
      <h6 class="mb-0"><%= user.company_name %></h6>
      <small><%= user.full_address %></small>
      <small><%= user.position %></small>
    </div>
  </div>
</div>
<div class="mt-2">
  <% if user.position=="Sous-traitant" %>
    <p class="mb-0"><strong>Activity Sector:</strong> <%= user.activity_sector %></p>
  <% elsif user.position=="Donneur-d'ordre"%>
    <p class="mb-0"><strong>Looking for:</strong> <%= user.activity_sector %></p>
  <% end %>
</div>