<%# app/views/tasks/edit/_common_fields.html.erb %>
<div class="row">
  <%# Site Information %>
  <div class="col-12 mb-4">
    <h5 class="text-primary border-bottom pb-2 mb-3">Site Information</h5>
    <div class="row g-3">
      <div class="col-md-6">
        <div class="attribute-group">
          <%= f.label :site_name, class: "form-label" %>
          <%= f.text_field :site_name, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="attribute-group">
          <%= f.label :street, class: "form-label" %>
          <%= f.text_field :street, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="attribute-group">
          <%= f.label :city, class: "form-label" %>
          <%= f.text_field :city, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="attribute-group">
          <%= f.label :area_code, class: "form-label" %>
          <%= f.text_field :area_code, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
  <%# Price Information %>
  <div class="col-12 mb-4">
    <h5 class="text-primary border-bottom pb-2 mb-3">Price Details</h5>
    <div class="row g-3">
      <div class="col-md-6">
        <div class="attribute-group">
          <%= f.label :proposed_price, class: "form-label" %>
          <div class="input-group">
            <%= f.number_field :proposed_price, class: "form-control", step: "0.01" %>
            <span class="input-group-text">€</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="attribute-group">
          <%= f.label :accepted_price, class: "form-label" %>
          <div class="input-group">
            <%= f.number_field :accepted_price, class: "form-control", step: "0.01" %>
            <span class="input-group-text">€</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# Schedule Information %>
  <div class="col-12 mb-4">
    <h5 class="text-primary border-bottom pb-2 mb-3">Schedule</h5>
    <div class="row g-3">
      <div class="col-md-6">
        <div class="attribute-group">
          <%= f.label :start_date, class: "form-label" %>
          <%= f.date_field :start_date, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="attribute-group">
          <%= f.label :end_date, class: "form-label" %>
          <%= f.date_field :end_date, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
  <%# Status Information %>
  <div class="col-12 mb-4">
    <h5 class="text-primary border-bottom pb-2 mb-3">Status</h5>
    <div class="row g-3">
      <div class="col-md-4">
        <div class="attribute-group">
          <%= f.label :status, class: "form-label" %>
          <%= f.select :status, Task.statuses.keys, {}, class: "form-select" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="attribute-group">
          <%= f.label :work_progress, class: "form-label" %>
          <%= f.text_field :work_progress, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="attribute-group">
          <%= f.label :billing_process, class: "form-label" %>
          <%= f.text_field :billing_process, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>