<%# app/views/tasks/_taskable_fields.html.erb %>
<div class="row g-4">
  <%# Text Attributes %>
  <% @grouped_attributes[:text_attributes].each do |name, value| %>
    <div class="col-md-6">
      <div class="form-group">
        <%= tf.label name, name.humanize, class: 'form-label' %>
        <%= tf.text_field name, value: value, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <%# Measurements %>
  <% if @grouped_attributes[:measurements].present? %>
    <div class="col-12">
      <h6 class="mb-3">Measurements</h6>
      <div class="row g-3">
        <% @grouped_attributes[:measurements].each do |name, value| %>
          <div class="col-md-4">
            <div class="form-group">
              <%= tf.label name, name.humanize, class: 'form-label' %>
              <div class="input-group">
                <%= tf.number_field name, value: value, class: 'form-control', step: 'any' %>
                <span class="input-group-text">m²</span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%# Boolean Services %>
  <% if @grouped_attributes[:boolean_services].present? %>
    <div class="col-12">
      <h6 class="mb-3">Services</h6>
      <div class="row g-3">
        <% @grouped_attributes[:boolean_services].each do |name, value| %>
          <div class="col-md-4">
            <div class="form-check">
              <%= tf.check_box name, checked: value, class: 'form-check-input' %>
              <%= tf.label name, name.humanize, class: 'form-check-label' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>