<div id="cookie-consent-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cookieConsentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cookieConsentModalLabel"><%= t('cookie_consent.title') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><%= t('cookie_consent.message') %></p>
                <p><%= t('cookie_consent.description') %></p>
                <p><%= t('cookie_consent.types_of_cookies') %></p>
                <ul>
                    <li><strong><%= t('cookie_consent.essential_cookies') %></strong>: <%= t('cookie_consent.essential_cookies_description') %></li>
                    <li><strong><%= t('cookie_consent.performance_cookies') %></strong>: <%= t('cookie_consent.performance_cookies_description') %></li>
                    <li><strong><%= t('cookie_consent.functional_cookies') %></strong>: <%= t('cookie_consent.functional_cookies_description') %></li>
                </ul>
                <p><%= t('cookie_consent.manage_preferences') %></p>
                <p><%= t('cookie_consent.learn_more_text') %> <a href="link-to-privacy-policy"><%= t('cookie_consent.learn_more') %></a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('cookie_consent.close') %></button>
                <button id="modal-accept-cookies" class="btn btn-primary btn-sm"><%= t('cookie_consent.accept') %></button>
                <button id="modal-decline-cookies" class="btn btn-secondary btn-sm"><%= t('cookie_consent.decline') %></button>
            </div>
        </div>
    </div>
</div>
