<!DOCTYPE html>
<html>
  <head>
    <title>Minidost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Other CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= debug(params) if Rails.env.development? %>
    <div>
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show m-0" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show m-0" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>
    <%= yield %>
    <%= render "layouts/footer" %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"
></script>
    <div id="cookie-consent-popup" class="alert alert-info alert-dismissible fade show d-flex justify-content-between align-items-center" role="alert" style="display: none; position: fixed; bottom: 20px; left: 20px; right: 20px; z-index: 1000; padding: 1rem;">
      <p class="mb-0"><%= t('cookie_consent.message') %></p>
      <div>
        <a id="learn-more-link" href="#" class="text-decoration-none me-2"><%= t('cookie_consent.learn_more') %></a>
        <button id="accept-cookies" class="btn btn-primary btn-sm"><%= t('cookie_consent.accept') %></button>
        <button id="decline-cookies" class="btn btn-secondary btn-sm"><%= t('cookie_consent.decline') %></button>
      </div>
    </div>
    <%= render 'layouts/cookie_consent_modal' %>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        if (!localStorage.getItem('cookieConsent')) {
          document.getElementById('cookie-consent-popup').style.display = 'block';
        }

        document.getElementById('accept-cookies').onclick = function() {
          localStorage.setItem('cookieConsent', 'accepted');
          document.getElementById('cookie-consent-popup').style.display = 'none';
        };

        document.getElementById('decline-cookies').onclick = function() {
          localStorage.setItem('cookieConsent', 'declined');
          document.getElementById('cookie-consent-popup').style.display = 'none';
        };

        document.getElementById('learn-more-link').onclick = function(event) {
          event.preventDefault();
          $('#cookie-consent-modal').modal('show'); // Use Bootstrap's modal method
        };

        document.getElementById('close-modal').onclick = function() {
          $('#cookie-consent-modal').modal('hide'); // Use Bootstrap's modal method
        };
      });
    </script>
  </body>
</html>
